.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: unset !important;
}
.sidebar a {
    text-decoration: none;
}
.sidebar ul li a {
    display: block; /* Để toàn bộ hàng có thể bấm được */
    padding: 8px 12px; /* Khoảng cách nội dung */
    border-radius: 5px; /* Bo góc nhẹ */
    transition: background-color 0.3s ease; /* Hiệu ứng mượt */
}

.sidebar ul li a:hover {
    background-color: #007bff; /* Màu xanh khi hover */
    color: white !important; /* Đảm bảo chữ trắng */
}
/*navbar top*/
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    padding: 10px 20px;
}
.navbar-nav i {
    padding-right: 10px;
}

.dropdown-item:hover {
    background-color: #007bff; /* Màu xanh khi hover */
    color: white !important; /* Đảm bảo chữ trắng */
}

a.dropdown-item {
    /* Bo góc nhẹ */
    transition: background-color 0.3s ease; /* Hiệu ứng mượt */
}

/*button*/
.btn-sm {
    padding: 5px !important;
    font-size: 12px !important;
}

.d-flex {
    display: flex;
    min-height: 100vh;
}

.display-flex {
    display: flex;
}

.main_content {
    margin-left: 250px;
}

@media (max-width: 768px) {
    .main_content {
        margin-left: unset;
    }
    .dropdown-menu.dropdown-menu-end.show {
        text-align: right;
    }
}
